<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="CadenaRelease" connectionString="Data Source=Solucioname.db;Version=3;" />
    <add name="Cadena" connectionString="Data Source=C:\Users\B034466\Documents\Visual Studio 2015\Projects\SolSolucioname\Solucioname.db;Version=3;" />
    <add name="CadenaNotebook" connectionString="Data Source=E:\Programacion\NET Framework\SolSolucioname\Solucioname.db;Version=3;" />
    <add name="CadenaFX" connectionString="Data Source=F:\Programacion - Practicas\NET\GIT\Solucioname\Solucioname.db;Version=3;"/>
    <add name="UISolucioname.Properties.Settings.SolucionameConnectionString1"
      connectionString="data source=F:\Programacion - Practicas\NET\GIT\Solucioname\Solucioname.db;"
      providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DualTCPBinding">
          <reliableSession inactivityTimeout="00:20:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8000/Servicio-Principal/tcp"
        binding="netTcpBinding" bindingConfiguration="DualTCPBinding"
        contract="SrvSolucioname.IServicio" name="DualTCPBinding">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
