<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
      <services>
        <service name="Servicio_Principal.Servicio" behaviorConfiguration="HostBehavior">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8001/Servicio-Principal"/>
              <add baseAddress="net.tcp://localhost:8000/Servicio-Principal"/>
            </baseAddresses>
          </host>
          <endpoint name="DualTCPBinding" address="tcp" binding="netTcpBinding" bindingConfiguration="DualTCPBinding" contract="Servicio_Principal.IServicio">
            <identity>
              <dns value="localhost"/>
            </identity>          
          </endpoint>
          <endpoint name="MetadataHTTPEndpoint" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="HostBehavior">
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <serviceMetadata httpGetEnabled="true"/>
            <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <netTcpBinding>
          <binding name="DualTCPBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:15:00" maxConnections="100" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" maxBufferSize="67108864" transferMode="Buffered"  >
            <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" maxStringContentLength="67108864"/>
            <reliableSession enabled="true" inactivityTimeout="00:20:00"/>
            <security mode="None"></security>            
          </binding>
        </netTcpBinding>
      </bindings>
    </system.serviceModel>
  <connectionStrings>
    <add name="CadenaServicio" connectionString="Data Source=C:\Usuario\Maxi\C#\Solucioname\SolucionameServicio.db;"/>
    <add name="CadenaServicioFX" connectionString="Data Source=F:\Programacion - Practicas\NET\GIT\Solucioname\SolucionameServicio.db;Version=3;"/>
    <add name="CadenaServicioNotebook" connectionString="Data Source=E:\Programacion\NET Framework\Solucioname\SolucionameServicio.db;Version=3;"/>
    <add name="CadenaServicioRelease" connectionString="Data Source=SolucionameServicio.db;Version=3;"/>
  </connectionStrings>
  <appSettings>
    <add key="DELIVER_PENDING_ASUNTOS_TIME_INTERVAL" value="10000"/>
    <add key="OPERATOR_ACTIVE_CHECK_TIME_INTERVAL" value="5000"/>
    <add key="OPERATOR_CHECK_TIMEOUT_AWAIT_RESPONSE" value="3000"/>
    <add key="ASUNTO_SERVICE_CHECK_CICLE_TIME" value="5000"/>
    <add key="BACKOFFICE_TIMEOUT" value="5000"/>
    <add key="TEST" value="false"/>
    <add key="TEST_MAILING_SERVICE" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
