<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CadenaRelease" connectionString="Data Source=Solucioname.db;Version=3;"/>
    <add name="Cadena" connectionString="Data Source=C:\Users\B034466\Documents\Visual Studio 2015\Projects\SolSolucioname\Solucioname.db;Version=3;"/>
    <add name="CadenaNotebook" connectionString="Data Source=E:\Programacion\NET Framework\SolSolucioname\Solucioname.db;Version=3;"/>
    <add name="CadenaFX" connectionString="Data Source=F:\Programacion - Practicas\NET\SolSolucioname\Solucioname.db;Version=3;"/>
  </connectionStrings>
</configuration>