<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="DualTCPBinding">
                    <reliableSession inactivityTimeout="00:20:00" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/Servicio-Principal/tcp"
                binding="netTcpBinding" bindingConfiguration="DualTCPBinding"
                contract="ServicioSolucioname.IServicio" name="DualTCPBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>